body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

canvas {
  background: #000;
  box-shadow: 0 0 25px #00ffcc;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10px;
}

#score {
  margin-top: 10px;
  font-size: 18px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #00ffcc;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00ccaa;
}
